/*
This one is strange because the figma file has no indicator for what the error message should look like in mobile resolutions.

It does however look like it is normally using absolute positioning, but that will not work when the resolution is smaller,
because it will runs out of space for the text

*/

.popup__error {
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  top: calc(100% + 5px);
}

@media screen and (max-width: 424px) {

  .popup__error {
    position: relative;
    margin-top: 5px;
  }

}
