@import url(__form/edit-form__form.css);
@import url(__header/edit-form__header.css);
@import url(__submit/edit-form__submit.css);
@import url(__input/edit-form__input.css);

.edit-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 34px 36px 36px 36px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  width: 100%;
}


@media screen and (max-width: 500px) {

  .edit-form {
    padding: 30px 20px 30px 20px;
  }

}
