@import url(__container/edit-form__container.css);
@import url(__close-button/edit-form__close-button.css);
@import url(__form/edit-form__form.css);
@import url(__header/edit-form__header.css);
@import url(__submit/edit-form__submit.css);
@import url(__input/edit-form__input.css);

.edit-form {
  max-width: 430px;
  padding: 0 19px 0 19px;
  margin: auto;
}
