.popup__close-button {
  margin: 0;
  padding: 0;
  min-width: 40px;
  min-height: 40px;
  position: absolute;
  right: -40px;
  top: -40px;
  outline: none;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  border: none;
  background-color: transparent;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: .6;
}


@media screen and (max-width: 525px) {

  .popup__close-button {
    top: -58px;
    right: 5px;
  }

}
