@import url(__copyright/footer__copyright.css);

.footer {
  margin: auto auto 60px auto;
  padding: 0;
  max-width: 880px;
}

@media screen and (max-width: 1023px) {

  .footer {
    margin: auto auto 50px auto;
  }

}
