@import url(__container/popup__container.css);
@import url(__container/_type/popup__container_type_preview.css);
@import url(__close-button/popup__close-button.css);
@import url(__form/popup__form.css);
@import url(__title/popup__title.css);
@import url(__input/popup__input.css);
@import url(__button/popup__button.css);
@import url(__input/_type/popup__input_type_error.css);
@import url(__error/popup__error.css);
@import url(__button/_disabled/popup__button_disabled.css);
@import url(__field/popup__field.css);
@import url(__button/_type/popup__button_type_confirm-delete.css);
@import url(__title/_type/popup__title_type_confirm-delete.css);

.popup {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
